<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- CRÍTICO: Permitir que Next.js maneje sus propios errores HTTP -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- MIME Types para videos -->
    <staticContent>
      <remove fileExtension=".mp4" />
      <remove fileExtension=".webm" />
      <remove fileExtension=".ogg" />
      <remove fileExtension=".mov" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".mov" mimeType="video/quicktime" />
    </staticContent>
    
    <!-- Límite de tamaño para subida de archivos (50MB) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="NextJS Dynamic Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
      node_env="production" 
    />
    
  </system.webServer>
  
  <!-- Límite para ASP.NET (necesario para uploads grandes) -->
  <system.web>
    <httpRuntime maxRequestLength="51200" />
  </system.web>
  
</configuration>